[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.12.2"
werkzeug = "==0.16.1"
requests = "*"
wtforms = "==2.2.1"
flask-sqlalchemy = "==2.3.2"
cymysql = "*"
flask-login = "==0.4.1"
flask-mail = "==0.9.1"

[dev-packages]

[requires]
python_version = "3.6"
